node_modules
bin
yarn-error*
build
.env
devices.json
t.ts 
config/*
credential.json
devices.json
.vscode
.tuya
.matter
arp-syncing/app/.matter
arp-syncing/app/.tuya
arp-syncing/app/node_modules
arp-syncing/app/build
arp-syncing/app/.env
arp-syncing/app/bin
